/* Contenedor principal */
.olvidado-contrasena-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Formulario */
.form-grupo {
  margin-bottom: 15px;
}

.form-grupo label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.form-grupo label {
  font-size: 16px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Mensajes de alertaa */
.alerta {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.alerta-exito {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alerta-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
