

form[title="update_usuario"] {
  width: 30vw;
}


.etiqueta-formulario {
  font-size: 16px;
  font-weight: 600;
  color: gray;
}

.entrada-formulario {
  border: 2px solid #66BB6A; 
  padding: 6px 10px;
  border-radius: 4px;
}

.entrada-formulario:focus {
  border-color: #66BB6A;
  box-shadow: 0 0 8px rgba(102, 187, 106, 0.5);
  outline: none; 
}

.formulario-usuario span {
  color: red;
}

