body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "nav" "content" "footer";
  min-height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  flex: 1;/* de manera proporcional para cuando se haga el grow que permite crecer el contenedor */
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
  gap: 10px;
}

.flex {
  display: flex;
}

.space_between {
  justify-content: space-between;
}

.menu {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

.column {
  flex-direction: column;
  gap: 0.5vw;
}

.align-center {
  align-items: center;
}


.justify-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}



.mensaje-vacio {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2rem;
  background-color: #fffbe6;
  padding: 1.5rem;
  border: 1px dashed #f0c36d;
  border-radius: 10px;
}
